.cards{
    background: #0077b6;
    color: #f6f6f6; 
    border: 1px solid #03045e; 
    border-radius: 30px; 
    margin-bottom: 20px; 
    padding: 30px;
}

.success{
    color: green;
}

.failed{
    color: red;
}